* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
  }
  
  #game-container {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  #game-area {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: white; 
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
  }
  
  #player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 40px;
    height: 40px;
    background-image: url('https://i.pinimg.com/originals/8f/ab/f2/8fabf2eb407b715315a49f4c67ac4908.gif');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }
  
  .alien {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVR9GAz0JhnSyBgFdq_2YLnKeyaOBeWuXsiQ&s');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
  .bullet {
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: red;
  }
  
  #controls button {
    margin: 5px;
  }

  @keyframes slide-down {
    0% { top: -100px; opacity: 0; }
    20% { top: 50%; opacity: 1; } /* Centraliza e deixa visível */
    80% { top: 50%; opacity: 1; } /* Mantém visível por um tempo */
    100% { top: 90%; opacity: 0; } /* Sai da tela */
  }
  
  #game-over-message {
    position: absolute;
    top: -100px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: red;
    display: none;
    animation: slide-down 20s forwards;
  }
  
  .power-up {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .power-up.blue { background-color: blue; }
  .power-up.red { background-color: red; }
  .power-up.yellow { background-color: yellow; }
  